@value margin from '../../stylesheets/measurements.css';
@value verylightgrey from '../../stylesheets/colors.css';

.adminConsole {
  max-width: 650px;
  margin: 0 auto;
}

.form {
  composes: roboto from '../../stylesheets/shared.css';
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    margin-bottom: calc(margin / 2);
    align-items: baseline;

    span {
      flex-basis: 100px;
      text-align: right;
      margin-right: margin;
    }

    input {
      flex-grow: 1;
      padding: calc(margin / 4);
    }
  }
}

.submit {
  composes: hoverEffect from '../../stylesheets/shared';
  width: 100%;
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
  display: block;
  padding: calc(margin / 4) calc(margin / 2);
  height: 35px;
  border: 1px solid lightgrey;
}

.selectPass {
  composes: center from '../../stylesheets/shared.css';
  composes: roboto from '../../stylesheets/shared.css';

  select {
    margin-left: margin;
  }
}

.breadcrumb {
  composes: roboto from '../../stylesheets/shared.css';
  border: none;
  padding: 0;
  font-size: 14px;

  &:first-of-type {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  width: margin;

  &::after {
    content: '>';
    display: block;
    text-align: center;
  }
}

.breadcrumbs {
  composes: roboto from '../../stylesheets/shared.css';
  width: 100%;
  display: flex;
  align-items: baseline;
  padding-bottom: calc(margin / 2);
  margin-bottom: margin;
  border-bottom: 1px solid verylightgrey;
}
