@value margin from '../../stylesheets/measurements';
@value darkgrey from '../../stylesheets/colors';

.passengers {
  ul {
    margin: 0;
    padding-left: margin;
  }
}

.noslug,
.explainLiteral {
  composes: roboto from '../../stylesheets/shared';
  color: darkgrey;
}

.explainLiteral {
  display: block;
  padding-bottom: calc(margin / 2);
}
