#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end

## makes this easier to test in aws console
#if($ctx.arguments['test'])
  #set($resp = $ctx.result)
#{else}
  #set($resp = $utils.rds.toJsonObject($ctx.result)[0][0])
#end

## Should return a Passenger type
$utils.toJson($resp)
