@value black from './colors.css';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.robotoMono {
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.roboto {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}
