@value black, blue, dark-blue from colors;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.robotoMono {
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.roboto {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.hoverEffect {
  transition: all 0.1s ease;

  &:hover:not(:disabled) {
    transform: scale(1.02);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.blacklink {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  composes: blacklink;
  color: blue;

  &:visited {
    color: dark-blue;
  }
}
