@value margin from '../../stylesheets/measurements';
@value blue, dark-blue from '../../stylesheets/colors';

.aboutPage {
  composes: roboto from '../../stylesheets/shared.css';
  max-width: 650px;
  margin: 0 auto;

  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h3,
  h4 {
    margin-top: calc(2 * margin);
  }

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: dark-blue;
    }
  }
}
