@value black, lightgrey from '../../stylesheets/colors';
@value margin from '../../stylesheets/measurements';

.link {
  color: black;
  text-decoration: none;
  padding: calc(margin / 2);
}

.box {
  composes: hoverEffect from '../../stylesheets/shared';
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-bottom: calc(margin / 2);
  border: 1px solid lightgrey;
}

.row {
  display: flex;
  justify-content: space-between;
}
