@value margin, mobile from '../../stylesheets/measurements';

.container {
  composes: roboto from '../../stylesheets/shared';
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto;
  grid-gap: 0 margin;
  justify-content: stretch;

  > * {
    padding-bottom: 20px;
    max-width: 100%;
  }

  > :nth-child(odd) {
    text-align: right;
    font-weight: 500;
    border-right: 1px solid black;
    padding-right: calc(margin / 2);
    min-width: 50px;

    @media (max-width: mobile) {
      font-size: 12px;
    }
  }

  > :last-child {
    padding-bottom: calc(margin * 2);
  }

  img {
    max-height: 300px;
  }
}
