@value margin, mobile from '../../stylesheets/measurements';

:global {
  body {
    margin: 0;
    box-sizing: border-box;
  }
}

.appWrap {
  margin: 0 margin;

  @media (max-width: mobile) {
    margin: 0 calc(margin / 2);
  }
}
