${errorHandler}
${rdsResp}

#if($resp.size() == 0)
  $utils.error("Couldn't find Aircraft with tailsign $ctx.source.aircraft_tailsign and model $ctx.source.aircraft_model", "NotFound")
#end

## Returns an Aircraft
$utils.toJson({
  "id": $resp[0].id,
  "tailsign": $ctx.source.aircraft_tailsign,
  "model": $ctx.source.aircraft_model
})
