${errorHandler}
#set($resp = $utils.rds.toJsonObject($ctx.result)[1])
${pagination}

## Returns a SearchResultsFlightConnection
$utils.toJson({
  "totalCount": $utils.rds.toJsonObject($ctx.result)[1],
  "edges": $edges,
  "pageInfo": {
    "count": $edges.size(),
    "hasNext": $hasNext
  }
})
