#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end

## makes this easier to test in aws console
#if($ctx.arguments['test'])
  #set($resp = $ctx.result)
#{else}
  #if($utils.rds.toJsonObject($ctx.result)[0].isEmpty())
    #return $utils.toJson(null)
  #{else}
    #set($resp = $utils.rds.toJsonObject($ctx.result)[0][0])
  #end
#end

$utils.toJson($resp.canonical)
