@value margin from '../../stylesheets/measurements';

.container {
  composes: roboto from '../../stylesheets/shared.css';
  max-width: 650px;
  margin: 0 auto;
}

.searchControl {
  margin: calc(2 * margin) 0;
}

.remarkResultsHeader {
  text-align: center;
}

.verifieds {
  margin-bottom: calc(2 * margin);
}
