${errorHandler}
${rdsResp}

## Returns a PassengerConnection
## The list of passengers will NEVER be long enough that we'd need to paginate. Fake it.
$utils.toJson({
  "edges": $resp,
  "pageInfo": {
    "count": $resp.size(),
    "hasNext": false
  }
})
