@value margin from '../../stylesheets/measurements';
@value black, lightgrey from '../../stylesheets/colors';

.browser {
  composes: roboto from '../../stylesheets/shared';
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: margin;
}

.pageCount {
  margin: 0 calc(margin / 2);
}

.pageControl {
  composes: roboto from '../../stylesheets/shared';
  composes: hoverEffect from '../../stylesheets/shared';
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
  display: block;
  padding: calc(margin / 4) calc(margin / 2);
  height: 35px;
  width: 70px;
  border: 1px solid lightgrey;

  &:disabled {
    color: lightgrey;
    cursor: not-allowed;
  }
}
