#if($ctx.error)
    $utils.error($ctx.error.message, $ctx.error.type)
#end

## makes this easier to test in aws console
#if($ctx.arguments['test'])
  #set($resp = $ctx.result)
#{else}
  #set($resp = $utils.rds.toJsonObject($ctx.result)[0])
#end

## should return a FlightConnection
## TODO fully implement pageInfo
$utils.toJson({
  "edges": $resp,
  "pageInfo": {
    "count": $resp.size()
  }
})
