name: 'Frontend App Validation'
on:
  push:
    paths:
      - frontend/**
      - .github/workflows/*.yml
jobs:
  lint-test:
    name: 'Lint/Test'
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Lint
        run: yarn fe lint
      - name: Test
        run: yarn fe test --coverage
      - uses: actions/upload-artifact@v1
        with:
          name: coverage
          path: ./frontend/coverage
      - name: Build
        run: yarn fe webpack
        env:
          NODE_ENV: production
  codecov:
    name: 'Upload coverage'
    needs: lint-test
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      # checkout only needed because codecov wants to know app file structure during upload
      - name: 'Checkout'
        uses: actions/checkout@master
      - uses: actions/download-artifact@v1
        with:
          name: coverage
          path: frontend/coverage
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
