name: 'Frontend App Deploy'
on:
  push:
    branches:
      - master
    paths:
      - frontend/**
      - .github/workflows/*.yml
jobs:
  build:
    name: 'Build static site'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Build
        run: yarn fe webpack
        env:
          NODE_ENV: production
      - name: Verify bucket exists
        run: if [ "$(yarn --silent fe awsUtils bucketExists)" = "false" ]; then exit 1; fi
      - name: Upload dist to bucket
        run: |
          aws s3 sync frontend/dist s3://epsteinbrain.org \
            --acl public-read \
            --cache-control max-age=31536000
      - uses: actions/upload-artifact@v1
        with:
          name: dist
          path: ./frontend/dist
      - name: Invalidate CloudFront
        run: yarn fe awsUtils invalidate "/index.html"
  sentry:
    name: 'Track Deploy In Sentry'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Notify Sentry of deploy
        run: npx sentry-cli releases -o bjacobelcom -p epsteinbrain new $GITHUB_SHA
      - name: Add sourcemaps to Sentry
        run: npx sentry-cli releases -o bjacobelcom -p epsteinbrain files $GITHUB_SHA upload-sourcemaps dist
    
