name: 'Frontend'
on:
  push:
    paths:
      - frontend/**
      - .github/workflows/*.yml
jobs:
  lint-test:
    name: 'Lint/Test'
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Lint
        run: yarn fe lint
      - name: Test
        run: yarn fe test --coverage
      - uses: actions/upload-artifact@v1
        with:
          name: coverage
          path: ./frontend/coverage
      - name: Build
        run: yarn fe btr
        env:
          NODE_ENV: production
  codecov:
    name: 'Upload coverage'
    needs: lint-test
    runs-on: ubuntu-latest
    steps:
      # checkout only needed because codecov wants to know app file structure during upload
      - name: 'Checkout'
        uses: actions/checkout@master
      - uses: actions/download-artifact@v1
        with:
          name: coverage
          path: frontend/coverage
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    name: 'Build static site'
    runs-on: ubuntu-latest
    needs: lint-test
    if: github.ref == 'refs/heads/master'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Grab config
        id: config
        run: |
          echo "::set-output name=Region::$(node frontend/config Region)"
          echo "::set-output name=ProjectFQDomain::$(node frontend/config ProjectFQDomain)"
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ steps.config.outputs.Region }}
      - name: Cache node_modules
        id: cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-scripts
      - name: Build
        run: yarn fe btr
        env:
          NODE_ENV: production
          GITHUB_SHA: ${{ github.sha }}
      - name: Verify bucket exists
        run: if [ "$(yarn --silent fe awsUtils bucketExists)" = "false" ]; then exit 1; fi
      - name: Upload dist to bucket
        run: |
          aws s3 sync frontend/dist s3://${{ steps.config.outputs.ProjectFQDomain }}.prime \
            --acl public-read \
            --cache-control max-age=31536000
      - uses: actions/upload-artifact@v1
        with:
          name: dist
          path: ./frontend/dist
      - name: Invalidate CloudFront
        run: yarn fe awsUtils invalidate "/index.html"
  sentry:
    name: 'Track Deploy In Sentry'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Grab config
        id: config
        run: |
          echo "::set-output name=SentryOrg::$(node frontend/config SentryOrg)"
          echo "::set-output name=SentryProject::$(node frontend/config SentryProject)"
      - uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Notify Sentry of deploy
        uses: bjacobel/sentry-cli-action@master
        with:
          args: releases new ${{ github.sha }}
        env:
          SENTRY_ORG: ${{ steps.config.outputs.SentryOrg }}
          SENTRY_PROJECT: ${{ steps.config.outputs.SentryProject }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Link Git commits to Sentry
        uses: bjacobel/sentry-cli-action@master
        with:
          args: releases set-commits "${{ github.sha }}" --auto
        env:
          SENTRY_ORG: ${{ steps.config.outputs.SentryOrg }}
          SENTRY_PROJECT: ${{ steps.config.outputs.SentryProject }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Add sourcemaps to Sentry
        uses: bjacobel/sentry-cli-action@master
        with:
          args: releases files ${{ github.sha }} upload-sourcemaps dist
        env:
          SENTRY_ORG: ${{ steps.config.outputs.SentryOrg }}
          SENTRY_PROJECT: ${{ steps.config.outputs.SentryProject }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
